body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

    div::deep select {
        margin-top: 10px;
        background-color: greenyellow;
        border: 1px solid black;
        height: 30px;
        border-radius: 10px;
        display: block;
        flex: auto;
    }

    div::deep input {
        margin-top: 10px;
        background-color: greenyellow;
        border: 1px solid black;
        height: 30px;
        border-radius: 10px;
        display: block;
        flex: auto;
    }

div.child {
    margin-top: 10px;
    background-color: greenyellow;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
    display: block;
    flex: auto;
}

div.child {
    margin-top: 10px;
    background-color: greenyellow;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
    display: block;
    flex: auto;
}

    body > option {
        margin-top: 10px;
        background-color: greenyellow;
        border: 1px solid black;
        height: 30px;
        border-radius: 10px;
        display: block;
        flex: auto;
    }

input {
    background-color: greenyellow;
    margin-top: 10px;
    border: 1px solid black;
    height: 30px;
    border-radius: 10px;
    display: block;
    flex: auto;
}


h5 {
    margin-bottom: 10px;
    display: block
}
