
@page "/print"

<h3>Печать документа</h3>


<button class="btn btn-primary" @onclick="ReadXml">Печать</button>

@code {
    private async Task DownloadPdf()
    {
        byte[] pdfBytes = PdfGenerator.CreatePdf();
        var fileName = $"{TemplateName}.pdf";
        await JSRuntime.InvokeVoidAsync("saveAsFile", fileName, Convert.ToBase64String(pdfBytes));
    }
}

<script>
    window.saveAsFile = (filename, bytesBase64) => {
    var link = document.createElement('a');
    link.href = 'data:application/octet-stream;base64,' + bytesBase64;
    link.download = filename;
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
    };
</script>

@code {
    
}
